.add-new-list input {
  height: 35px;
  width: 100%;
  font-size: 14px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 2px;
  border: 1px solid #c4c8d7;
  transition: all 300ms;
}

.add-new-list input:focus {
  border-color: #889fff;
  background-color: #fcfcff;
  outline: none;
}

.add-new-list button {
  color: #fff;
  height: 35px;
  font-size: 14px;
  border-radius: 2px;
  padding: 0px 15px 0px 15px;
  background: #7272fc;
  display: inline-block;
  margin-right: 10px;
}

.add-new-list button.cancel {
  background: #e5e5ff;
  color: #6e6e99;
}

.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 259px;
  box-shadow: 5px 0 5px rgba(235, 233, 255, 50%);
  z-index: 1;
  padding: 20px 29px 0 29px;
  box-sizing: border-box;
  overflow: scroll;
}

.given-lists {
  color: #56578c;
  font-weight: 500;
  border-bottom: 1px solid #e6e9ec;
}

.given-lists a {
  margin: 9px 0 9px 0;
  display: flex;
  align-items: center;
}

.given-lists a {
  color: #56578c;
}

.given-lists .given-lists__text {
  margin-top: 5px;
  display: inline-block;
}

.given-lists img {
  margin-right: 10px;
  width: 20px;
}

.user-lists {
  margin-top: 10px;
}

.user-lists a {
  color: #8080a2;
  display: block;
  padding: 8px 0 8px 0;
}

.user-lists a.active {
  color: #262660;
  position: relative;
}

.active::before {
  background: #6067f1;
  position: absolute;
  width: 2px;
  height: 19px;
  display: block;
}

.content {
  background: #f7f8fe;
  flex: 1;
  box-sizing: border-box;
  padding: 50px;
  overflow-y: scroll;
}

.links-group-column-manager {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.links-group {
  display: inline-flex;
  flex-direction: column;
}

.links-group__title {
  font-weight: 600;
  font-size: 26px;
  color: #000b9f;
}

.links-container {
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 0 2px 8px #ecedff;
  margin-bottom: 20px;
  background: white;
  width: 510px;
}

.links-container .links {
  width: 100%;
  height: 105px;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background: #fff;
  color: #56578c;
  box-shadow: 0 2px 8px #ecedff;
  line-height: 1.4;
  transition: color 300ms, border-radius 300ms, box-shadow 300ms;
}

.links-container .links:hover {
  color: #6067f1;
  box-shadow: 0 2px 8px #8f94ff;
  z-index: 1;
  border-radius: 5px;
}